
    <h2>Come funziona</h2>
    <p>"Biblio" &egrave; un sito che viene incontro a lettori e a bibliotecari per
    favorire tra di loro uno scambio rapido e funzionale.</p>
    <p>Puoi registrarti su Biblio con due diversi tipi di account:</p>    
    <h4>Lettore:</h4>
    <p>Cerca le biblioteche pi&ugrave; vicine a casa tua, visualizza il loro
    catalogo scoprendo subito la disponibilit&agrave; dei libri che ti interessano
    e, se vuoi, prenotali subito!
    </br>Potrai inoltre cercare un libro per titolo o per autore e scoprire in quali
    biblioteche lo puoi trovare, visualizzando dettagli relativi al volume
    e alla sua disponibilit&agrave;.</p>
    <h4>Biblioteca:</h4>
    <p>Inserisci la biblioteca di cui sei titolare nel circuito di "Biblio" e
    mostra a tutta la comunit&agrave; degli iscritti la variet&agrave; 
    del tuo catalogo!
    </br>Gestisci interamente online la tua collezione, dando in prestito i volumi,
    registrando le restituzioni e aggiungendo nuovi libri.</p>
    <br/>
    <p>Per garantire una migliore affidabilit&agrave;, sar&agrave; sempre necessario,
    per un lettore, iscriversi a una biblioteca prima di poter prendere in prestito
    libri appartenenti al suo catalogo. Inoltre, ogni bibliotecario ha il diritto
    di ammonire i suoi iscritti in caso di comportamenti scorretti, quali ritardi
    nella restituzione o consegna in cattive condizioni dei libri prestati . Dopo un
    massimo di tre ammonizioni, un lettore non potr&agrave; pi&ugrave prendere in
    prestito nessun libro da nessuna biblioteca.</p>
    <br/>
    <p>E' arrivato il momento di registrarti e di cercare la compagnia di un
    buon libro! Buona lettura!</p>
    <p><a href="/Biblio/php/controller/loggedOut/toRegistrazione.php">Registrati</a></p>
        
           
        
    
    


    
    

