<h2 id="credits_title">Credits</h2>
<p id="autore">Questo sito &egrave; stato realizzato da Luca Piras, studente di Informatica presso l'Universit&agrave; degli Studi di Cagliari.<p>
<p id="esame">E' valido come progetto per il corso di Amministrazione di Sistema, tenuto da Davide Spano.</p>
<p id="links">Clicca <a href="http://unica.it" target="_blank">qui</a> per visitare il sito dell'Universit&agrave; di Cagliari.<br/><br/>
  Clicca <a href="http://informatica.unica.it/index.php" target="_blank">qui</a> per visitare il sito del Corso di Laurea di Informatica</p>