<!-- LETTORE -->

<ul id="homeUl">
    <li><a href="http://spano.sc.unica.it/amm2014/pirasLuca/Biblio/php/controller/loggedIn/lettore/toHome.php">Home page</a></li>
</ul>
<ul id="actionsUl">
    <li><a href="http://spano.sc.unica.it/amm2014/pirasLuca/Biblio/php/controller/loggedIn/lettore/toProfilo.php">Profilo</a></li>
    <li><a href="http://spano.sc.unica.it/amm2014/pirasLuca/Biblio/php/controller/loggedIn/lettore/toLibriInPrestito.php">Libri in prestito</a></li>    
    <li><a href="http://spano.sc.unica.it/amm2014/pirasLuca/Biblio/php/controller/loggedIn/lettore/toMieBiblioteche.php">Mie biblioteche</a></li>        
</ul>
<ul id="logoutUl">
    <li><a href="http://spano.sc.unica.it/amm2014/pirasLuca/Biblio/php/controller/loggedOut/logout.php">Log-out</a></li>
</ul>
