<h3>Aggiungi un libro al catalogo</h3> 
<form method="post" id="formAggiungiLibro">
           <label for="titolo">Titolo:</label>
           <input type="text" name="titolo" id="titolo" value=""/><br/>
           <label for="autore">Autore:</label>
           <input type="text" name="autore" id="autore" value=""/><br/>
           <label for="casaEditrice">Casa editrice:</label>
           <input type="text" name="casaEditrice" id="casaEditrice" value=""/><br/>
           <label for="genere">Genere:</label>                    
           <input type="text" name="genere" id="genere" value=""/><br/>               
           <label for="nPagine">Numero di pagine:</label>                    
           <input type="text" name="nPagine" id="nPagine" value=""/><br/>
           <label for="nCopie">Numero di copie</label>                    
           <input type="text" name="nCopie" id="nCopie" value=""/><br/>    
           <input type="hidden" name="cmd" value="aggiuntaLibro">
           <button type="button" id="buttonAggiungiLibro">Fatto!</button> 
 </form>  