<!-- BIBLIOTECARIO -->

<ul id="homeUl">
    <li><a href="http://spano.sc.unica.it/amm2014/pirasLuca/Biblio/php/controller/loggedIn/bibliotecario/toHome.php">Home page</a></li>
</ul>
<ul id="actionsUl">
    <li><a href="http://spano.sc.unica.it/amm2014/pirasLuca/Biblio/php/controller/loggedIn/bibliotecario/toProfilo.php">Profilo</a></li>
    <li><a href="http://spano.sc.unica.it/amm2014/pirasLuca/Biblio/php/controller/loggedIn/bibliotecario/toCatalogo.php">Gestisci catalogo</a></li>    
    <li><a href="http://spano.sc.unica.it/amm2014/pirasLuca/Biblio/php/controller/loggedIn/bibliotecario/toIscritti.php">Iscritti</a></li>        
</ul>
<ul id="logoutUl">
    <li><a href="http://spano.sc.unica.it/amm2014/pirasLuca/Biblio/php/controller/loggedOut/logout.php">Log-out</a></li>
</ul>
